extends layout

block content
  form(method="post", action="/form/2")
    div
      - let i = 0;
      while i < pieceCnt
        div.piece
          h2 #{pieces[i]}
          p.ml-3.counter
          - let j =1;
          while j <= memberCnt
            div.part
              h5.ml-1 #{j} 番
              - let k = 0;
              .btn-toolbar.btn-group.part-count-button
              p.m-2 人数
                while k <= memberCnt
                  if k == '1'
                    input.mx-1(type='radio', id = 'n' + i +'_'+ j, name = 'n' + i +','+ j, value= k, checked = 'checked')
                  else
                    input.mx-1(type='radio', id = 'n' + i +'_'+ j, name = 'n' + i +','+ j, value= k)
                  label(for='#{k}') #{k}人 
                  - k++
                - j++
          - i++

    button#bt-submit(type="submit") 次へ

  p
    a(href="./1") 曲数メンバー設定に戻る
  p
    a(href="../") TOPに戻る

  //- script(type="text/javascript" src="/app/entry.js")