extends layout
block content
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href="../") HOME
      li.breadcrumb-item.active 曲・メンバー入力
      li.breadcrumb-item: a(href="#") パート数入力
      li.breadcrumb-item: a(href="#") 結果
      
  form(method="post")
    div
      h5 STEP1 改行で区切ってメンバーを入力してください
      div ※最大30人 ※重複は1人になります
      div
        textarea.m-3(id="members" name="members") #{members}
    div
      h5 STEP2 改行で区切って曲名を入力してください
      div ※最大30曲 ※重複は1曲になります
      div
        textarea.m-3(id="pieces" name="pieces") #{pieces}
    button.btn.btn-primary.m-3(type="submit" formaction="/form/1") 次へ    
    button#clear.btn.btn-outline-secondary.m-3(formaction="/form/1:clear") クリア