extends layout
block content
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item.active HOME
      li.breadcrumb-item: a(href="#") 曲・メンバー入力
      li.breadcrumb-item: a(href="#") パート数入力
      li.breadcrumb-item: a(href="#") 結果

  div.container-fluid
    h1.display-3 #{title}    
    p.my-3.text-justify パート決めヘルパーは、アンサンブルや合奏における管楽器のパート決めを手助けします。
    button.btn.btn-primary.my-3(onclick="location.href='./form/1'") Start    
    p.font-weight-bold こんな時に便利
    li アンサンブルをいくつか演奏したいので、手っ取り早くランダムにパートを決めたい。
    li パート構成の異なる複数の曲のパートを、ランダムで降り番も偏らないように割り振りたい。    
    p.font-weight-bold 使い方
    li STEP1: 曲とメンバーを入力
    li STEP2: パート構成を入力
    li STEP3: 結果発表！やり直しもできるよ。

    img.img-fluid.border.border-secondary.img-thumbnail.mt-3(src="/img/intro_v0-01.gif", alt="Demo", srcset="")
    
