extends layout
block content  
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href="../") HOME
      li.breadcrumb-item: a(href="./1") 曲・メンバー入力
      li.breadcrumb-item: a(href="./2")  パート数入力
      li.breadcrumb-item.active 結果

  div
    h5 結果
    form(method="post", action="/form/2")
      button.btn.btn-primary.my-3(type="submit") もう1回
  div
    each piece in pieces
      div.card.bg-light.mb-3.column
        div.piece.card-body    
          h2.card-title #{piece}
            - var assigntmentMap = result.get(piece).get(assigntmenMapKey)
            - var resultArray = Array.from(assigntmentMap)
              each resultStr in resultArray
                h4 #{resultStr}
  form(method="post", action="/form/2")
    button.btn.btn-primary.my-3(type="submit") もう1回